<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.mapper.MessageMapper">
    <insert id="insertUnread" parameterType="java.util.Map">
        insert into unread_list(user_id, message_id) values (#{userId}, #{messageId})
    </insert>

    <delete id="deleteUnread" parameterType="java.util.Map">
        delete from unread_list where user_id = #{userId} and message_id = #{messageId}
    </delete>

    <select id="getUnread" parameterType="java.lang.Integer" resultType="manage.vo.Message">
        select * from message where id in (
        select message_id from unread_list where user_id = #{userId}
        )
    </select>

    <resultMap id="messageMap" type="manage.vo.Message">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="publisher" column="publisher"/>
        <result property="sendTime" column="send_time"/>
    </resultMap>

    <select id="getCount" parameterType="map" resultType="int">
        select count(1) from message where 1 = 1
        <!-- recieve -->
        <if test="type == 'sub'">
            and id in
            <foreach collection="range" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="type == 'pub'">
            and id in
            (select message_id from pub_record where user_id = #{userId})
        </if>
        <if test="key != null">
            and title like concat(concat('%',#{key}),'%')
        </if>
    </select>

    <select id="getRows" parameterType="map" resultMap="messageMap">
        select * from message where 1 = 1
        <!-- recieve -->
        <if test="type == 'sub'">
            and id in
            <foreach collection="range" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="type == 'pub'">
            and id in
            (select message_id from pub_record where user_id = #{userId})
        </if>
        <if test="key != null">
            and title like concat(concat('%',#{key}),'%')
        </if>
--         limit #{offset}, #{size}
    </select>

    <select id="getMessagesOfThisMin" parameterType="java.util.Date" resultMap="messageMap">
        select * from message WHERE send_time = #{date} and IMMEDIATE = '0'
    </select>

    <insert id="insertMessage" parameterType="manage.vo.Message" useGeneratedKeys="true" keyProperty="id">
        insert into message(title, content, type, immediate, publisher, send_time) values
          (#{title}, #{content}, ${type}, #{immediate}, #{publisher}, #{sendTime})
    </insert>

    <delete id="deleteMessage" parameterType="int">
        delete from message where id = #{id}
    </delete>

    <update id="updateMessage" parameterType="manage.vo.Message">
        update message set
          title = #{title},
          type = #{type},
          send_time = #{sendTime},
          immediate = #{immediate},
          content = #{content},
          publisher = #{publisher}
        where id = #{id}
    </update>

    <update id="changeSendStatus" parameterType="int">
        update message set sended = 1 where id = #{id}
    </update>
</mapper>