<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.mapper.RecordMapper">
    <insert id="insertRecord" parameterType="manage.vo.MyUser">
      insert into record(user_id, message_list) VALUES (#{id}, #{messageList})
    </insert>

    <update id="updateRecord" parameterType="manage.vo.MyUser">
        UPDATE record set message_list = #{messageList}
          where user_id = #{id}
    </update>

    <select id="getMessageList" parameterType="int" resultType="string">
        select message_list as messageList from record where user_id = #{userId}
    </select>
</mapper>