<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.mapper.PublishMapper">
    <insert id="insertSubRecord" parameterType="manage.vo.MyUser">
      insert into sub_record(user_id, message_list) VALUES (#{id}, #{messageList})
    </insert>

    <update id="updateSubRecord" parameterType="manage.vo.MyUser">
        UPDATE sub_record set message_list = #{messageList}
          where user_id = #{id}
    </update>

    <select id="getSubMessageList" parameterType="int" resultType="string">
        select message_list as messageList from sub_record where user_id = #{userId}
    </select>

    <insert id="insertPubRecord" parameterType="map">
        insert into pub_record(user_id, message_id) VALUES (#{userId}, #{messageId})
    </insert>

    <delete id="deletePubRecord" parameterType="map">
        delete from pub_record where user_id = #{userId} and message_id = #{messageId}
    </delete>

    <select id="getPubRecord" parameterType="int" resultType="int">
        select * from pub_record where user_id = #{userId}
    </select>
</mapper>