<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.mapper.TypeMapper">
    <select id="getTypeCount" parameterType="string" resultType="int">
        select count(1) from message_type where 1 =1
        <if test="name != null">
            and name like concat(concat('%',#{name}),'%')
        </if>
    </select>

    <select id="getTypeRows" parameterType="map" resultType="manage.vo.MessageType">
        select * from message_type where 1 =1
        <if test="name != null">
            and name like concat(concat('%',#{name}),'%')
        </if>
--         limit #{offset}, #{limit}
    </select>

    <select id="getAllTypes" resultType="manage.vo.MessageType">
        select * from message_type
    </select>

    <select id="getUserIdOfType" resultType="int">
        select user_id from subscribe_list where type_id = #{typeId}
    </select>

    <insert id="insertType" parameterType="string">
        insert into message_type(name) values(#{name})
    </insert>

    <delete id="deleteType" parameterType="int">
        delete from message_type where id = #{id}
    </delete>

    <update id="updateType" parameterType="manage.vo.MessageType">
        update message_type set name = #{name} where id = #{id}
    </update>
</mapper>