<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.mapper.UnreadListMapper">
    <insert id="insert" parameterType="java.util.Map">
        insert into unread_list(user_id, message_id) values (#{userId}, #{messageId})
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        delete from unread_list where user_id = #{userId} and message_id = #{messageId}
    </delete>

    <select id="getUnreadList" parameterType="java.lang.Integer" resultType="manage.vo.Message">
        select * from message where id in (
          select message_id from unread_list where user_id = #{user_id}
        )
    </select>
</mapper>